html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/*HTML5display-roleresetforolderbrowsers*/
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@font-face {
  font-family: 'Roboto-Regular', sans-serif;
  src: url(../font/Roboto/Roboto-Regular.eot);
  src: url(../font/Roboto/Roboto-Regular.eot?#iefix) format("embedded-opentype"), url(../font/Roboto/Roboto-Regular.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto-Bold', sans-serif;
  src: url(../font/Roboto/Roboto-Bold.eot);
  src: url(../font/Roboto/Roboto-Bold.eot?#iefix) format("embedded-opentype"), url(../font/Roboto/Roboto-Bold.ttf) format("truetype"); }

@font-face {
  font-family: 'Roboto-Black', sans-serif;
  src: url(../font/Roboto/Roboto-Black.eot);
  src: url(../font/Roboto/Roboto-Black.eot?#iefix) format("embedded-opentype"), url(../font/Roboto/Roboto-Black.ttf) format("truetype"); }

html,
body {
  height: 100%;
  width: 100%; }

.wrapper-of-all {
  font-family: "Roboto-Bold", sans-serif; }

.header-container {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #ffffff;
  width: 100%;
  z-index: 100000;
  -webkit-box-shadow: 0 -1px 0 1px #ffffff;
  box-shadow: 0 -1px 0 1px #ffffff; }

.header-pusher {
  height: 70px; }
  @media screen and (max-width: 768px) {
    .header-pusher {
      height: 50px; } }

.head-mobile {
  display: none; }
  @media screen and (max-width: 768px) {
    .head-mobile {
      display: block; } }

.burger + .burger__label {
  position: fixed;
  top: 16px;
  right: 20px;
  height: 20px;
  width: 23px;
  z-index: 5; }
  .burger + .burger__label .burger__line {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: #AAC1BF;
    -webkit-transition: .5s;
    -o-transition: .5s;
    transition: .5s; }
  .burger + .burger__label .burger__line:first-child {
    top: 3px; }
  .burger + .burger__label .burger__line--sec-child {
    top: 9px; }
  .burger + .burger__label .burger__line:last-child {
    top: 15px; }

.burger__line:hover {
  cursor: pointer; }

.burger:checked + .burger__label .burger__line {
  opacity: 0;
  top: 50%; }

.burger:checked + .burger__label .burger__line:first-child {
  opacity: 1;
  -webkit-transform: rotate(405deg);
  -ms-transform: rotate(405deg);
  transform: rotate(405deg); }

.burger:checked + .burger__label .burger__line:last-child {
  opacity: 1;
  -webkit-transform: rotate(-405deg);
  -ms-transform: rotate(-405deg);
  transform: rotate(-405deg); }

.logo-mobile {
  display: inline-block;
  color: #AAC1BF;
  font-family: "Roboto-Bold", sans-serif;
  font-size: 26px;
  font-weight: bold;
  padding: 11px 15px 15px 15px; }
  .logo-mobile__wrapper {
    border-bottom: 1px solid #e7e7e7; }

.burger ~ .nav-mobile {
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 50px;
  z-index: 3;
  -webkit-transition: .5s;
  -o-transition: .5s;
  transition: .5s;
  -webkit-transition-delay: .5s;
  -o-transition-delay: .5s;
  transition-delay: .5s;
  overflow: hidden; }
  .burger ~ .nav-mobile > ul {
    text-align: left;
    position: absolute;
    z-index: 1;
    top: 53px;
    left: 10px; }
    .burger ~ .nav-mobile > ul > li {
      opacity: 0;
      -webkit-transition: .5s;
      -o-transition: .5s;
      transition: .5s;
      -webkit-transition-delay: 0s;
      -o-transition-delay: 0s;
      transition-delay: 0s; }
      .burger ~ .nav-mobile > ul > li > a {
        font-family: "Roboto-Bold", sans-serif;
        color: #606060;
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 2px;
        text-decoration: none;
        text-transform: uppercase;
        font-family: sans-serif;
        display: inline-block;
        margin: 25px 0 18px 5px; }
        .burger ~ .nav-mobile > ul > li > a:hover {
          color: #AAC1BF; }

.burger:checked ~ .nav-mobile {
  height: 391px;
  -webkit-transition-delay: 0s;
  -o-transition-delay: 0s;
  transition-delay: 0s; }
  .burger:checked ~ .nav-mobile > ul > li {
    opacity: 1;
    -webkit-transition-delay: .5s;
    -o-transition-delay: .5s;
    transition-delay: .5s; }

.header-pusher {
  height: 70px; }
  @media screen and (max-width: 768px) {
    .header-pusher {
      height: 50px; } }

.nav {
  margin: 0 auto;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  max-width: 1140px;
  height: 70px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }
  @media screen and (max-width: 1199px) {
    .nav {
      max-width: 970px; } }
  @media screen and (max-width: 991px) {
    .nav {
      max-width: 750px; } }
  @media screen and (max-width: 768px) {
    .nav {
      height: 50px; } }
  .nav_wrapper {
    -webkit-box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08);
    box-shadow: 0px 2px 8px 0px rgba(50, 50, 50, 0.08); }
  .nav__bar {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex; }
    @media screen and (max-width: 768px) {
      .nav__bar {
        display: none; } }
    .nav__bar-general {
      color: #AAC1BF;
      text-decoration: none;
      font-family: "Roboto-Bold", sans-serif;
      font-size: 26px;
      font-weight: bold;
      padding-right: 15px; }
      @media screen and (max-width: 1199px) {
        .nav__bar-general {
          padding-left: 15px; } }
    .nav__bar-link {
      font-family: "Roboto-Bold", sans-serif;
      font-size: 13px;
      font-weight: bold;
      text-decoration: none;
      color: #606060;
      letter-spacing: 0.5px;
      margin: 10px 15px;
      text-transform: uppercase; }
      .nav__bar-link-last {
        margin: 10px 0 10px 15px; }
        @media screen and (max-width: 1199px) {
          .nav__bar-link-last {
            margin-right: 15px; } }
      .nav__bar-link:hover {
        color: #AAC1BF; }

.top-container {
  background-color: #AAC1BF;
  padding-top: 177px; }
  .top-container .top {
    margin: 0 auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-flow: column wrap;
    -ms-flex-flow: column wrap;
    flex-flow: column wrap;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    max-width: 1140px;
    padding-left: 15px;
    padding-right: 15px; }
    .top-container .top__title {
      color: #FFFFFF;
      font-size: 100px;
      letter-spacing: 6px;
      font-weight: 600;
      text-align: center; }
      @media screen and (max-width: 578px) {
        .top-container .top__title {
          font-size: 60px; } }
      @media screen and (max-width: 370px) {
        .top-container .top__title {
          font-size: 30px; } }
    .top-container .top__subtitle {
      color: #FFFFFF;
      font-size: 30px;
      letter-spacing: 5px;
      font-weight: 600;
      padding-top: 30px;
      padding-bottom: 10px;
      text-align: center; }
      @media screen and (max-width: 370px) {
        .top-container .top__subtitle {
          font-weight: 400; } }
    .top-container .top__photo {
      width: 100%;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: left;
      -webkit-justify-content: left;
      -ms-flex-pack: left;
      justify-content: left; }
      @media screen and (max-width: 991px) {
        .top-container .top__photo {
          -webkit-box-pack: center;
          -webkit-justify-content: center;
          -ms-flex-pack: center;
          justify-content: center; } }
      .top-container .top__photo-general {
        max-width: 100%;
        height: auto; }
        @media screen and (max-width: 991px) {
          .top-container .top__photo-general {
            height: 450px; } }
        @media screen and (max-width: 768px) {
          .top-container .top__photo-general {
            height: 325px; } }
        @media screen and (max-width: 578px) {
          .top-container .top__photo-general {
            height: 180px; } }

.features__wrapper {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0; }
  @media screen and (max-width: 991px) {
    .features__wrapper {
      max-width: 750px; } }

.features__title {
  text-align: center;
  font-size: 20px;
  letter-spacing: 6px;
  font-weight: bold;
  text-transform: uppercase; }
  .features__title-wrap {
    padding: 30px 15px 72px 15px; }

.features__content {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto; }
  @media screen and (max-width: 1199px) {
    .features__content {
      max-width: 970px; } }
  @media screen and (max-width: 991px) {
    .features__content {
      -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
      flex-wrap: wrap; } }
  .features__content-block {
    padding: 0 15px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
    @media screen and (max-width: 991px) {
      .features__content-block-first {
        margin: auto 0; } }
    @media screen and (max-width: 768px) {
      .features__content-block-first {
        margin: 0; } }
    @media screen and (max-width: 991px) {
      .features__content-block-first, .features__content-block-second {
        width: 50%; } }
    @media screen and (max-width: 768px) {
      .features__content-block-first, .features__content-block-second {
        max-width: none;
        width: 100%; } }
    @media screen and (max-width: 991px) {
      .features__content-block-third {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex; } }
    @media screen and (max-width: 768px) {
      .features__content-block-third {
        display: block; } }

.features__image {
  max-width: 360px;
  height: auto; }
  @media screen and (max-width: 1199px) {
    .features__image {
      max-width: 293px; } }
  @media screen and (max-width: 991px) {
    .features__image {
      max-width: 345px; } }
  @media screen and (max-width: 768px) {
    .features__image {
      max-width: 100%; } }
  @media screen and (max-width: 1199px) {
    .features__image-wrap {
      padding-top: 30px; } }
  @media screen and (max-width: 991px) {
    .features__image-wrap {
      padding-top: 0; } }

.features__item {
  padding: 30px 15px 50px 15px; }
  .features__item-title-wrap {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center; }
  .features__item-line {
    font-size: 0;
    border-bottom: solid 1px #EEEEEE;
    width: 100px;
    margin: 20px auto; }
  .features__item-title {
    font-size: 16px;
    letter-spacing: 6px;
    color: #333;
    text-align: center; }
  .features__item-text {
    font-size: 14px;
    letter-spacing: 1px;
    color: #333;
    line-height: 28px;
    text-align: center; }
  .features__item-icon {
    padding-bottom: 20px; }

.video {
  background-color: #F9F9F9;
  padding: 100px 0; }
  .video__wrapper {
    margin: 0 auto;
    max-width: 1140px; }
    @media screen and (max-width: 1199px) {
      .video__wrapper {
        max-width: 970px; } }
    @media screen and (max-width: 991px) {
      .video__wrapper {
        max-width: 750px;
        display: block; } }
  .video__content {
    display: inline-block;
    padding: 0 15px;
    padding-bottom: 32px;
    width: 50%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    vertical-align: top; }
    @media screen and (max-width: 991px) {
      .video__content {
        width: auto; } }
    .video__content-title {
      padding-top: 20px;
      text-align: center;
      font-size: 20px;
      letter-spacing: 6px;
      font-weight: bold;
      text-transform: uppercase; }
    .video__content-line {
      font-size: 0;
      border-bottom: solid 1px #EEEEEE;
      width: 100px;
      margin: 20px auto; }
    .video__content-text-parag {
      padding-bottom: 10px;
      text-align: center;
      font-size: 14px;
      letter-spacing: 1px;
      color: #333;
      line-height: 28px; }
  .video__iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; }
    .video__iframe-container {
      position: relative;
      padding-bottom: 56.25%;
      padding-top: 30px;
      height: 0;
      overflow: hidden; }
    .video__iframe-wrapper {
      vertical-align: top;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: inline-block;
      width: 49%; }
      @media all and (max-width: 991px) {
        .video__iframe-wrapper {
          width: 100%; } }

.team {
  background-color: #2B2B2B; }
  .team__wrapper {
    max-width: 1190;
    margin: 0 auto;
    padding: 100px 0 50px 0; }
    @media screen and (max-width: 991px) {
      .team__wrapper {
        max-width: 750px; } }
  .team__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #FFFFFF; }
    .team__title-wrap {
      padding: 30px 15px 72px 15px; }
  .team__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .team__item {
    padding: 10px; }
    .team__item-line {
      font-size: 0;
      border-bottom: solid 1px #EEEEEE;
      width: 100px;
      margin: 20px auto; }
  .team__img {
    max-width: 370px;
    height: auto; }
    @media screen and (max-width: 1199px) {
      .team__img {
        max-width: 303px; } }
    @media screen and (max-width: 991px) {
      .team__img {
        max-width: 355px; } }
    @media screen and (max-width: 768px) {
      .team__img {
        max-width: 500px; } }
    @media screen and (max-width: 578px) {
      .team__img {
        max-width: 100%; } }
    .team__img-signature-wrap {
      padding: 20px 0 60px 0; }
    .team__img-signature-name {
      text-align: center;
      padding: 10px 0 15px 0;
      font-weight: 400;
      letter-spacing: 6px;
      font-size: 18px;
      color: #F9F9F9;
      text-transform: uppercase; }
    .team__img-signature-pos {
      text-align: center;
      padding: 10px 0;
      color: #009988;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 6px;
      text-transform: uppercase; }

.shots {
  padding: 100px 0; }
  .shots__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333; }
    .shots__title-wrap {
      padding: 20px 0 32px 0; }
    .shots__title-line {
      font-size: 0;
      border-bottom: solid 1px #EEEEEE;
      width: 100px;
      margin: 20px auto; }
  .shots__content {
    max-width: 1140px;
    margin: 0 auto; }
    @media screen and (max-width: 1199px) {
      .shots__content {
        max-width: 970px; } }
    @media screen and (max-width: 991px) {
      .shots__content {
        max-width: 750px; } }
    .shots__content-item {
      padding: 0 20px 15px 20px; }
      @media screen and (max-width: 768px) {
        .shots__content-item {
          padding: 0 10px 15px 10px; } }
      @media screen and (max-width: 478px) {
        .shots__content-item {
          padding: 0 20px 15px 20px; } }
  .shots__img {
    max-width: 263px;
    height: auto; }
    @media screen and (max-width: 1199px) {
      .shots__img {
        max-width: 293px; } }
    @media screen and (max-width: 991px) {
      .shots__img {
        max-width: 220px; } }
    @media screen and (max-width: 768px) {
      .shots__img {
        max-width: 100%; } }

.faces {
  background-color: #AAC1BF; }
  .faces__wrap {
    padding: 100px 0 100px 0;
    max-width: 700px;
    margin: 0 auto; }
    @media screen and (max-width: 1199px) {
      .faces__wrap {
        max-width: 570px; } }
    @media screen and (max-width: 578px) {
      .faces__wrap {
        max-width: auto; } }
  .faces__item {
    padding: 0 30px;
    text-align: center; }
  .faces__img {
    margin: 0 auto;
    width: 100px;
    border-radius: 50%; }
  .faces__text {
    padding: 42px 0 15px 0;
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 28px;
    color: #333333; }
  .faces__info {
    letter-spacing: 1px;
    font-size: 14px;
    line-height: 1.1em;
    font-weight: 500;
    color: #FFFFFF; }

.prices {
  padding: 100px 0; }
  .prices__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333; }
    .prices__title-wrap {
      padding: 20px 0 32px 0; }
    .prices__title-line {
      font-size: 0;
      border-bottom: solid 1px #EEEEEE;
      width: 100px;
      margin: 20px auto; }
  .prices__content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 1140px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around; }
    @media all and (max-width: 1199px) {
      .prices__content {
        max-width: 970px; } }
    @media all and (max-width: 991px) {
      .prices__content {
        max-width: 750px; } }
    @media all and (max-width: 768px) {
      .prices__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; } }
    @media all and (max-width: 370px) {
      .prices__content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-flow: column nowrap;
        -ms-flex-flow: column nowrap;
        flex-flow: column nowrap; } }
  .prices__item {
    background-color: #AAC1BF;
    margin: 32px 0 60px 0;
    text-align: center;
    padding: 60px; }
    .prices__item:hover {
      cursor: pointer; }
    @media all and (max-width: 1199px) {
      .prices__item {
        padding: 60px 30px; } }
    @media all and (max-width: 991px) {
      .prices__item {
        padding: 60px; } }
    @media all and (max-width: 578px) {
      .prices__item {
        padding: 60px 40px; } }
    @media all and (max-width: 370px) {
      .prices__item {
        padding: 60px 30px; } }
    .prices__item-wrap {
      padding: 0 15px;
      max-width: 321px; }
      @media all and (max-width: 768px) {
        .prices__item-wrap {
          margin: 0 auto; } }
    .prices__item-title {
      display: inline-block;
      line-height: 180px;
      margin: 0 auto;
      font-size: 16px;
      font-weight: bold;
      letter-spacing: 6px;
      color: #333333;
      text-transform: uppercase; }
      @media all and (max-width: 370px) {
        .prices__item-title {
          line-height: 160px; } }
      .prices__item-title-round {
        background-color: #F9F9F9;
        margin: 0 auto 20px auto;
        height: 180px;
        width: 180px;
        border-radius: 50%; }
        @media all and (max-width: 370px) {
          .prices__item-title-round {
            height: 160px;
            width: 160px; } }
    .prices__item-price {
      padding: 30px;
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 6px;
      border-bottom: solid 1px #bbc1bf;
      color: #333333; }
    .prices__item-list {
      padding: 30px 0 10px 0;
      font-size: 16px;
      letter-spacing: 2px;
      font-weight: bold;
      color: #333333; }
      @media all and (max-width: 370px) {
        .prices__item-list {
          font-size: 14px; } }
  .prices__button {
    background-color: #FFFFFF;
    padding: 16px 60px;
    border: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin-top: 20px;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333;
    -webkit-box-shadow: inset 0 0 0 2px transparent;
    box-shadow: inset 0 0 0 2px transparent;
    position: relative;
    vertical-align: middle;
    cursor: pointer; }
    @media all and (max-width: 370px) {
      .prices__button {
        padding: 16px 50px; } }

.contact {
  background-color: #F9F9F9;
  padding: 100px 0; }
  .contact__title {
    text-align: center;
    font-size: 20px;
    letter-spacing: 6px;
    font-weight: bold;
    text-transform: uppercase;
    color: #333333; }
    .contact__title-wrap {
      padding: 20px 0 32px 0;
      margin-bottom: 32px; }
    .contact__title-line {
      font-size: 0;
      border-bottom: solid 1px #EEEEEE;
      width: 100px;
      margin: 20px auto; }
  .contact__content {
    margin: 0 auto;
    padding: 0 15px;
    max-width: 970px; }
    @media all and (max-width: 1199px) {
      .contact__content {
        max-width: 750px; } }
  .contact__inputs {
    border: 2px solid #606060;
    border-radius: 5px;
    background-color: #F9F9F9;
    color: #606060;
    font-size: 18px;
    font-family: "Roboto-Regular", sans-serif;
    padding-left: 10px; }
  .contact__form-name, .contact__form-email {
    width: 100%;
    height: 39px;
    line-height: 39px; }
    .contact__form-name-wrap, .contact__form-email-wrap {
      display: inline-block;
      width: 50%;
      padding: 0 25px;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      margin: 10px 0; }
      @media all and (max-width: 768px) {
        .contact__form-name-wrap, .contact__form-email-wrap {
          width: 100%; } }
  .contact__form-name-wrap {
    padding-right: 35px; }
    @media all and (max-width: 768px) {
      .contact__form-name-wrap {
        padding-right: 25px; } }
  .contact__form-email-wrap {
    padding-left: 35px; }
    @media all and (max-width: 768px) {
      .contact__form-email-wrap {
        padding-left: 25px; } }
  .contact__form-msg {
    width: 100%;
    height: 175px;
    resize: none;
    line-height: 23px; }
    .contact__form-msg-wrap {
      padding: 0 25px;
      margin: 10px 0; }
  .contact__form-submit {
    border: 4px solid #333;
    border-radius: 33px;
    height: 59px;
    width: 267px;
    color: #333;
    letter-spacing: 1px;
    font-size: 21px;
    cursor: pointer; }
    @media all and (max-width: 768px) {
      .contact__form-submit {
        width: 100%;
        margin: 0 auto; } }
    .contact__form-submit-wrap {
      padding: 10px 25px;
      margin: 10px 20px 10px; }

footer {
  background-color: #2B2B2B; }

.footer {
  max-width: 1140px;
  margin: 0 auto;
  padding: 100px 0 40px 0; }
  .footer__line {
    font-size: 0;
    border-bottom: solid 1px #EEEEEE;
    width: 100px;
    margin: 20px auto; }
  .footer__copyright {
    color: #EEEEEE;
    padding-top: 10px;
    text-align: center;
    font-weight: 300; }
  .footer__icon {
    display: inline-block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    cursor: pointer;
    -webkit-transition-property: background border;
    -o-transition-property: background border;
    transition-property: background border;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear; }
    .footer__icon-wrap {
      margin: 0 auto;
      display: -webkit-box;
      display: -webkit-flex;
      display: -ms-flexbox;
      display: flex;
      width: 143px;
      -webkit-box-pack: justify;
      -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
      justify-content: space-between; }

.f-icon1 {
  background: url(../img/icons/fb-w.png) no-repeat;
  border: 1px solid transparent; }
  .f-icon1:hover {
    background: url(../img/icons/fb-b.png) no-repeat;
    border: 1px solid #F9F9F9; }

.f-icon2 {
  border: 1px solid transparent;
  background: url(../img/icons/gb-w.png) no-repeat; }
  .f-icon2:hover {
    background: url(../img/icons/gb-b.png) no-repeat;
    border: 1px solid #F9F9F9; }

.f-icon3 {
  border: 1px solid transparent;
  background: url(../img/icons/in-w.png) no-repeat; }
  .f-icon3:hover {
    background: url(../img/icons/in-b.png) no-repeat;
    border: 1px solid #F9F9F9; }
